@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600;700;800;900&display=swap");

body {
  background-color: rgb(33, 32, 40);
  color: whitesmoke;
}

* {
    outline:none !important;
    border:none !important;
    text-decoration:none !important;
}
